<?xml version="1.0" encoding="utf-8"?>
<Content Key="083049d1-f4f7-4861-b90a-4d06b689191d" Alias="New Video: B.O.K." Level="3">
  <Info>
    <Parent Key="a41388dd-a094-43a9-b7f2-aca89bbede3c">Music</Parent>
    <Path>/Home/Music/NewVideoBOK</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2023-10-10T22:02:41</CreateDate>
    <NodeName Default="New Video: B.O.K." />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2023-10-10T12:00:00]]></Value>
    </articleDate>
    <categories>
      <Value><![CDATA[[
  "umb://document/107861f887054e43a6a417277a37f99c"
]]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1b0bcf68231c41caad4e51dd72f0376c",
        "settingsUdi": "umb://element/263f487ac8114da9999ad393e41a7e22"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f43c8349-0801-44b8-9113-9f7c62cd44fe",
      "udi": "umb://element/1b0bcf68231c41caad4e51dd72f0376c",
      "videoUrl": "https://www.youtube.com/watch?v=5NShyorpSlI"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "eef34ceb-ddf6-4894-b1ac-f96c8c05d3d2",
      "udi": "umb://element/263f487ac8114da9999ad393e41a7e22"
    }
  ]
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "a83b5612-b866-4a6e-aba8-7bc728ece6a7",
    "mediaKey": "d83625bf-53b0-4658-af3e-96cd881da673"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <showFullArticleOnListPage>
      <Value><![CDATA[]]></Value>
    </showFullArticleOnListPage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>