<?xml version="1.0" encoding="utf-8"?>
<Content Key="110a0c49-fab9-4a72-959c-c41d328c05b4" Alias="YouTube Tutorials" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/YouTubeTutorials</Path>
    <Trashed Parent="31523089-f648-4883-9087-ef9a0b83129f">true</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2023-10-02T21:30:27</CreateDate>
    <NodeName Default="YouTube Tutorials" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2023-08-04T06:00:00]]></Value>
    </articleDate>
    <authorName>
      <Value><![CDATA[]]></Value>
    </authorName>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "d6644f2c-a16d-4550-99ce-48d199d7f475",
    "mediaKey": "c75e975e-5a1b-4366-9dc0-c5d3ea289d8f"
  }
]]]></Value>
    </mainImage>
    <markdown>
      <Value><![CDATA[]]></Value>
    </markdown>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <showFullArticleOnListPage>
      <Value><![CDATA[]]></Value>
    </showFullArticleOnListPage>
    <subtitle>
      <Value><![CDATA[For learning Umbraco]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>