<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="957aee26-16e9-47f6-969d-f4c4d1fc8a67" Alias="markdownRowSettings" Level="3">
  <Info>
    <Name>Markdown Row Settings</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>01+Elements/Setting+Models</Folder>
    <Compositions>
      <Composition Key="02180d87-1eea-45d9-93a6-1e38f2ee0165">hideProperty</Composition>
      <Composition Key="2e1a4fd4-b695-4033-8626-1a45b54e04cb">spacingProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>