<?xml version="1.0" encoding="utf-8"?>
<Media Key="d83625bf-53b0-4658-af3e-96cd881da673" Alias="BOK" Level="2">
  <Info>
    <Parent Key="9f17ddcf-21a8-49a8-acf6-13cee8a9e7ed">Images</Parent>
    <Path>/Images/BOK</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-10T21:34:59</CreateDate>
    <NodeName Default="BOK" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xesdnwfq/bok.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>