<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f17ddcf-21a8-49a8-acf6-13cee8a9e7ed" Alias="Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-10-10T21:34:51</CreateDate>
    <NodeName Default="Images" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>