<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad99be08-35b9-486e-874b-306300da5561" Alias="Jacksorjacksorchords" Level="2">
  <Info>
    <Parent Key="9f17ddcf-21a8-49a8-acf6-13cee8a9e7ed">Images</Parent>
    <Path>/Images/Jacksorjacksorchords</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-25T19:44:03</CreateDate>
    <NodeName Default="Jacksorjacksorchords" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b05jtlnz/jacksorjacksorchords.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>