<?xml version="1.0" encoding="utf-8"?>
<Media Key="57c22a36-f70a-434d-9603-3ded478ef6f0" Alias="Richatpiano16by9" Level="2">
  <Info>
    <Parent Key="9f17ddcf-21a8-49a8-acf6-13cee8a9e7ed">Images</Parent>
    <Path>/Images/Richatpiano16by9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-10T21:45:47</CreateDate>
    <NodeName Default="Richatpiano16by9" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gavmevyk/richatpiano16by9.jpg",
  "focalPoint": {
    "left": 0.4974937343358396,
    "top": 0.4643553327763854
  }
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>