<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6076bf2-6931-49ab-915c-e6975937e41a" Alias="RJ 20230606 Lq 25" Level="2">
  <Info>
    <Parent Key="9f17ddcf-21a8-49a8-acf6-13cee8a9e7ed">Images</Parent>
    <Path>/Images/RJ20230606Lq25</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-10T21:42:01</CreateDate>
    <NodeName Default="RJ 20230606 Lq 25" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4rvbp3rr/rj-20230606-lq-25.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>