@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>

@using Clean.Core.Models.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
    Layout = "master.cshtml";
    var imgUrl = Model.MainImage.GetCropUrl("heroImage");
    var thing = Model.MainImage.LocalCrops.FocalPoint?.Top ?? (decimal) 0.5 ;
}

@*@await Html.PartialAsync("~/Views/Partials/pageHeader.cshtml", new PageHeaderViewModel(Model.Name, Model.Title, Model.Subtitle, Model.MainImage))*@

<div class="bg-image" 
     style="background-image: url('@imgUrl'); 
            height: 100vh; 
            background-position: @(Model.MainImage.LocalCrops.FocalPoint?.Top ?? (decimal)0.5 * 100)% @(Model.MainImage.LocalCrops.FocalPoint?.Left ??(decimal)0.5 * 100)%">
</div>


@if (Model.ContentRows != null)
{
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    @Html.GetBlockListHtml(Model.ContentRows)
                </div>
            </div>
        </div>
    </article>
}