<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e21eb450-816d-4eb9-8862-a3f730ee1201" Alias="Markdown editor" Level="1">
  <Info>
    <Name>Markdown editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DefaultValue": null,
  "DisplayLivePreview": false,
  "OverlaySize": "small"
}]]></Config>
</DataType>