<?xml version="1.0" encoding="utf-8"?>
<DataType Key="316e9d16-4561-459c-8c97-a06f7ccb49a8" Alias="Test - Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>Test - Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": false,
  "ShowPalette": false
}]]></Config>
</DataType>