<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e4f50f5d-7900-4171-8321-bd1f9e76431d" Alias="Test - Tets - Markdown editor" Level="1">
  <Info>
    <Name>Test - Tets - Markdown editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DefaultValue": null,
  "DisplayLivePreview": false,
  "OverlaySize": "small"
}]]></Config>
</DataType>